{% extends "network/layout.html" %}

{% block title %}Posts{% endblock %}

{% block body %}
    
    <!-- Post heading -->
    {% if request.path == "/followings" %}
        <h3 class="p-3 bg-body-tertiary bg-opacity-75 m-0 border-bottom sticky-top">Your Followings</h3>
    {% elif request.path == "/" %}
        <h3 class="p-3 bg-body-tertiary bg-opacity-75 m-0 border-bottom sticky-top">All Posts</h3>
        {% if request.user.is_authenticated %}
            <!-- Create post form -->
            <form action="{% url 'create-post' %}" method="post" class="text-end mb-3" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-floating">
                    <textarea name="content" class="form-control border-0 rounded-0" placeholder="Leave a comment here" style="height: 120px;" required></textarea>
                    <label for="post-content" class="text-muted">What's on your mind?</label>
                </div>
                <input class="form-control rounded-0" type="file" name="image">
                <input class="btn btn-primary rounded-top-0 rounded-end-0" type="submit" value="Create Post">
            </form> 
        {% endif %}
    {% endif %}
    <!-- Post heading end -->
    
    {% include "network/posts.html" %}

{% endblock %}