{% extends "network/layout.html" %}

{% block body %}

    <h3 class="p-3 bg-body-tertiary border-bottom">Login</h3>

    {% if message %}
        <div class="msg">{{ message }}</div>
    {% endif %}

    <form action="{% url 'login' %}" method="post" class="text-center m-3">
        {% csrf_token %}
        <input type="text" class="form-control mb-3" name="username" placeholder="Username" required>
        <input type="text" class="form-control mb-3" name="password" placeholder="Password" required>
        <input class="btn btn-primary" type="submit" value="Login">
        <p class="my-3">Don't have an account? <a href="{% url 'register' %}">Register here.</a></p>
    </form>

{% endblock %}