{% extends "network/layout.html" %}

{% block body %}

    <h1 class="text-center my-3">Login</h1>

    {% if message %}
        <div>{{ message }}</div>
    {% endif %}

    <form action="{% url 'login' %}" method="post" class="text-center">
        {% csrf_token %}
        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="floatingInput" name="username" placeholder="Username">
            <label for="floatingInput">Username</label>
        </div>
        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="floatingInput" name="password" placeholder="Password">
            <label for="floatingInput">Password</label>
          </div>
        <input class="btn btn-primary" type="submit" value="Login">
        <p class="my-3">Don't have an account? <a href="{% url 'register' %}">Register here.</a></p>
    </form>


{% endblock %}