{% for post, like in zipped_list %}

        <div class="card w-100 my-3">
            <div class="card-body">
                <h5 class="card-title"><a href="{% url 'profile' post.posted_by.id %}" class="card-link">{{ post.posted_by }}</a></h5>
                <small class="card-subtitle mb-2 text-body-secondary">{{ post.posted_on|timesince }} ago</small>
                <p class="card-text my-3">{{ post.content }}</p>
                <hr>
                <p class="card-text">


                    <a class="card-link text-decoration-none like-btn" data-post="{{ post.id }}">

                        {% if like %}
                            <i class="fa fa-thumbs-up"></i>
                        {% else %}
                            <i class="fa fa-thumbs-o-up"></i>
                        {% endif %}
                        <span class="post-id" hidden>{{ post.id }}</span>
                    </a>

                    <span class="likes-count mx-2" id="post{{ post.id }}">{{ post.count_likes }}</span>
                     
                    <a href="#" class="card-link text-decoration-none mx-2">
                        <i class="fa fa-comment-o"></i>
                    </a>{{ post.count_comments }}
                </p>
            </div>
        </div>

{% empty %}

    <h3 class="my-3">No posts yet.</h3>

{% endfor %}

{% include "network/pagination.html" %}