{% extends "network/layout.html" %}

{% block title %} Profile {% endblock %}

{% block body %}

    <h3 class="p-3 bg-body-tertiary bg-opacity-75 m-0 border-bottom sticky-top">
        {% if user == request.user %}
            Your Profile
        {% else %}
            Profile
        {% endif %}
    </h3>

    <div class="row">
        <div class="col-2 m-3">
            <img class="profile-pic" src="{{ user.profile_pic.url }}" alt="profile-pic">
        </div>
        <div class="col-4 py-3">
            <h5>{{ user.username }}</h5>
            <p class="text-muted my-1">{{ user.email }}</p>
            <small class="text-muted">Joined: {{ user.date_joined }}</small>
            <p class="my-1">
                <strong id="follower-count">{{ user.get_followers_count }}</strong> Follower(s) 
                <strong class="ms-2">{{ user.get_followings_count }}</strong> Following
            </p>
        
            {% if request.user.is_authenticated and user != request.user %}
                {% if is_following %}
                    <button class="btn btn-primary mt-3" id="follow-btn" data-id="{{ user.id }}"><i class="fa fa-close"></i> Unfollow</button>
                {% else %}
                    <button class="btn btn-primary mt-3" id="follow-btn" data-id="{{ user.id }}"><i class="fa fa-check"></i> Follow</button>
                {% endif %}
            {% endif %}
            
        </div>  
    </div>
    <hr>
    <h3 class="mx-3">Posts</h3>

    {% include "network/posts.html" %}

{% endblock %}