{% extends "network/layout.html" %}

{% block body %}

    <h3 class="p-3 bg-body-tertiary border-bottom">Register</h3>

    {% if message %}
        <div class="msg">{{ message }}</div>
    {% endif %}

    <form action="{% url 'register' %}" method="post" class="text-center m-3" enctype="multipart/form-data">
        {% csrf_token %}
        <input class="form-control mb-3" autofocus type="text" name="username" placeholder="Username">
        <input class="form-control mb-3" type="email" name="email" placeholder="Email Address">
        <input class="form-control mb-3" type="password" name="password" placeholder="Password">
        <input class="form-control mb-3" type="password" name="confirmation" placeholder="Confirm Password">
        <label for="profile-pic" class="form-label">Upload Profile Picture (optional)</label>
        <input class="form-control mb-3" type="file" name="profilepic" id="profile-pic">
        <input class="btn btn-primary" type="submit" value="Register">
        <p class="text-center my-3">Already have an account? <a href="{% url 'login' %}">Log In here.</a></p>
    </form>

{% endblock %}