<div class="dropdown position-absolute" style="top: 10px; right: 20px;">
    <button class="btn btn-light bg-transparent" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        <i class="fa fa-ellipsis-v"></i>
    </button>

    <ul class="dropdown-menu">
        <li><button class="dropdown-item edit-btn" data-id="{{ post.id }}" data-bs-toggle="modal" data-bs-target="#editModal{{ post.id }}">Edit</button></li>
        <li><button class="dropdown-item" data-bs-toggle="modal" data-bs-target="#deleteModal{{ post.id }}">Delete</button></li>
    </ul>
</div>

<!-- Edit modal -->
<div class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false" id="editModal{{ post.id }}" 
    tabindex="-1" aria-labelledby="editPost" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="editPost">Edit Post</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <textarea class="form-control edit-textarea" rows="7"></textarea>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary close-btn" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary save-btn">Save changes</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal end -->

<!-- Delete modal -->
<div class="modal fade" id="deleteModal{{ post.id }}" tabindex="-1" aria-labelledby="deletePost" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                <h1 class="modal-title fs-5" id="deletePost">Are you sure you want to delete this post?</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body text-center">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
                    <button type="button" class="btn btn-danger delete-btn" data-id="{{ post.id }}" data-bs-dismiss="modal">Yes</button>
                </div>
            </div>
        </div>
  </div>
<!-- Modal end -->