<h4 class="text-center my-3">Network</h4>
<ul class="list-unstyled text-center my-5">
    {% with request.resolver_match.url_name as url_name %}
        <li class="my-3">
            <a class="btn btn-lg rounded-5 {% if url_name == 'index' %}active{% endif %}" href="{% url 'index' %}">
                <i class="fa fa-hashtag me-1"></i> All Posts
            </a>
        </li>
        {% if request.user.is_authenticated %}
            <li class="my-3">
                <a class="btn btn-lg rounded-5 {% if url_name == 'followings' %}active{% endif %}" href="{% url 'followings' %}">
                    <i class="fa fa-group me-1"></i> Following
                </a>
            </li>
            <li class="my-3">
                <a class="btn btn-lg rounded-5 {% if url_name == 'profile' %}active{% endif %}" href="{% url 'profile' request.user.id %}">
                    <i class="fa fa-user me-1"></i> Profile
                </a>
            </li>
            <li class="my-5 py-5">
                <a class="btn btn-danger btn-lg rounded-5" href="{% url 'logout' %}">
                    <i class="fa fa-sign-out me-1"></i> Log Out
                </a>
            </li>
        {% else %}
            <li class="my-3">
                <a class="btn btn-lg rounded-5 {% if url_name == 'register' %}active{% endif %}" href="{% url 'register' %}">
                    <i class="fa fa-vcard me-1"></i> Register
                </a>
            </li>
            <li class="my-3">
                <a class="btn btn-lg rounded-5 {% if url_name == 'login' %}active{% endif %}" href="{% url 'login' %}">
                    <i class="fa fa-sign-in me-1"></i> Log In
                </a>
            </li>
        {% endif %}
    {% endwith %}
</ul>